<main>
    <section class="contact-section">
        <h2>Contact Support</h2>

        <section>
        
            <p>
                For any questions or concerns regarding the e-learning platform or course content, you may reach out to the following staff members for support:
            </p>
            <ul>
                <li>Designer: Caitlin Datu &lt;<a href="mailto:caitlinDSda2&#64;gmail.com">caitlinDSda2&#64;gmail.com</a>&gt;</li>
                <li>Main Programmer: Kennichi Ortega Nitta &lt;<a href="mailto:k.nitta.it&#64;gmail.com">k.nitta.it&#64;gmail.com</a>&gt;</li>
            </ul>

        </section>

        <app-contact-form></app-contact-form>
    </section>
</main>

