<main>
    <section class="contact-section">
        <h2>Contact Support</h2>

        <section>
        
            <p>
                For any questions or concerns regarding the e-learning platform or course content, you may reach out to the following staff members for support:
            </p>
            <ul>
                <li>Kennichi Ortega Nitta (Main Programmer): 
                    <a href="mailto:k.nitta.it&#64;gmail.com">k.nitta.it&#64;gmail.com</a>
                </li>
                <li>Caitlin Datu (Designer):
                    <a href="mailto:caitlinDSda2&#64;gmail.com">caitlinDSda2&#64;gmail.com</a>
                </li>
                <li>Elijah Ethanli Escondo:
                    <a href="mailto:elijahethanli.escondo&#64;gmail.com">elijahethanli.escondo&#64;gmail.com</a>
                </li>
            </ul>

        </section>

        <app-contact-form></app-contact-form>
    </section>
</main>

