<nav>

    <header>
        <img src="./assets/logo.png"/>
    </header>
    <main>
    <ul>

        <li>
        <a routerLink="/home">
            Home
        </a>
        </li>

        <li>
            <a routerLink="/courses">
                Courses
            </a>
            </li>

            <li>
                <a routerLink="/dashboard">
                    Dashboard
                </a>
                </li>

                <li>
                    <a routerLink="/inbox">
                        Inbox
                    </a>
                    </li>

                    <li>
                        <a routerLink="/support">
                            Support
                        </a>
                        </li>

    </ul>
    </main>
</nav>