/* You can add global styles to this file, and also import other style files */

html, body {
  @apply overflow-x-scroll;
}


body{
  padding: 0;
}

@font-face {
  font-family: Poppins-Light;
  src: url(assets/Poppins/Poppins-Light.ttf) format("truetype");
}

*{
    font-family: Poppins-Light
}

/* Button styles */
button {
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
  max-height: fit-content;

  @apply 
  bg-marian-blue
  text-white 
  px-2.5 
  py-1.5
  max-w-32
  border-solid
  border-2
  border-marian-blue
  cursor-pointer 
  rounded-lg
  mr-1;
}

button:hover {
  @apply 
  text-marian-blue 
  bg-transparent;
}

.delete-button {
  @apply 
  bg-red-600
  text-white 
  border-solid
  border-2
  border-red-600
  cursor-pointer 
  mb-5 
  rounded-lg
  ;
}

.delete-button:hover {
  @apply 
  text-red-600
  bg-transparent;
}

.button-outline {
  @apply 
  text-marian-blue 
  bg-transparent
  ;
}

.button-outline:hover {
  @apply 
  bg-marian-blue
  text-white;
}

.load-more-button {
  @apply 
  bg-transparent
  text-marian-blue
  border-none
  w-auto
  transition
  ;
}
.load-more-button:hover {
  @apply 
  font-bold
}

.add-button {
  @apply 
  bg-transparent
  border-green-600
  border-2
  border-solid
  text-green-600
  cursor-pointer 
  float-right 
  mb-5 
  rounded-lg;
}

.add-button:hover {
  @apply bg-green-600 text-white;
}

.edit-button {
  @apply 
  border-blue-500
  bg-blue-500
  border-2
  border-solid
  text-white
  cursor-pointer 
  mb-5 
  rounded-lg;
}

.edit-button:hover {
  @apply  bg-transparent
  border-blue-500 text-blue-500;
}

.publish-button {
  @apply 
  bg-blue-700
  text-white 
  border-solid
  border-2
  border-blue-700
  cursor-pointer 
  float-right 
  mb-5 
  rounded-lg;
}

.publish-button:hover {
  @apply 
  text-blue-700
  bg-transparent;
}

.save-button {
  @apply 
  bg-green-600
  text-white 
  border-solid
  border-2
  border-green-600
  cursor-pointer 
  float-right 
  mb-5 
  rounded-lg;
}

.save-button:hover {
  @apply 
  text-green-600
  bg-transparent;
}

.cancel-button {
  @apply 
  bg-transparent
  border-gray-500
  border-2
  border-solid
  text-gray-500
  cursor-pointer 
  float-right 
  mb-5 
  rounded-lg;
}

.cancel-button:hover {
  @apply bg-gray-500 text-white;
}

/* Modal Overlay */
.modal {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  z-index: 1000;
}

/* Modal Content Box */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  text-align: left;
  animation: modalShow 0.3s ease-out;
}

/* Animation for Modal */
@keyframes modalShow {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Close Button */
.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* Modal Actions */
.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.modal-actions button {
  background-color: #0163FD;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 10px;
}

.modal-actions button:hover {
  background-color: #0142A1;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 20px;
  font-size: 0.9em;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th, td {
  border: none;
  padding: 12px 15px;
  text-align: left;
}

th {
  border-bottom: 1px solid #ddd;
}

td {
  border-bottom: 1px solid #ddd;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-child(odd) {
  @apply bg-gray-50;
}

tbody tr:nth-child(even) {
  @apply bg-white;
}

tbody tr:hover {
  @apply bg-gray-100;
}

.table-wrapper {
    @apply 
    overflow-x-auto
    mt-4;
}

/* Container styles */
.page-container {
  @apply 
  p-0
  md:p-8;
  padding-bottom: 10rem;
}

.main-container {
  background-color: #f8f9fa;
  padding: 20px;
}

.content-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.content-layout {
    @apply
    w-full
    flex
    flex-col md:flex-row
    gap-8;
}

.content-layout section {
    @apply
    bg-gray-300
    w-full
    flex-1
    p-4
    rounded-lg;
    min-width: 300px;
}

.load-more-button-container {
  @apply flex justify-end mt-4;
}

.columns {
  @apply flex flex-row justify-between gap-5;
}

@media (max-width: 640px) { 
  .columns {
      @apply flex-col;
  }
}

/* Header styles */
.header {
  @apply flex justify-between items-center mb-6;
}

.header h2 {
  @apply text-2xl font-bold;
}

/* Font styles */
a {
  @apply 
  text-marian-blue
  no-underline;
}

a:hover {
  @apply 
  underline;
}

/* Form styles */
form {
  @apply 
  flex 
  flex-col 
  gap-y-3
  ;
}

label {
  @apply 
  font-semibold
  ;
}

input {
  @apply 
  p-2 
  border-solid 
  border-2 
  border-gray-200 
  rounded-lg 
  ;
}

/* Challenge Page Styles */
.challenge-section {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.challenge-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.challenge-card {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.challenge-list {
  list-style-type: none;
  padding: 0;
}

.challenge-list li {
  margin-bottom: 10px;
}

.challenge-divider {
  border: none;
  border-top: 1px solid #ddd;
  margin-top: 20px;
}
.card{

}

.card-header{

}

.card-body{

}

.card-footer{

}