<nav class="nav-bar">
    <header>
        <img src="./assets/icons/logo-full.svg" alt="Logo" title="SIMULAT Logo" class="h-10" />
    </header>
    <main>
        <ul class="nav-links">
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/courses">Courses</a>
            </li>
            <li>
                <a routerLink="/inbox">Inbox</a>
            </li>
            <li>
                <a routerLink="/support">Support</a>
            </li>
            <li>
                <a routerLink="/account">
                    <img src="./assets/icons/account.svg" alt="Account Icon" class="account-icon" />
                </a>
            </li>
        </ul>
    </main>
</nav>
