<div class="page-container">
    <section class="dashboard">
        <header>
            <h2>Course Title</h2>
            <h3>Course Code</h3>
        </header>
        <main class="dashboard-main">
            <div class="dashboard-columns">
                <section class="student-progress-view dashboard-view">
                    <h3>Your Progress</h3>
                    <!--TODO: Replace the below with more dynamic generation of component according to data source-->
                    <section class="student-progress-circle-group">
                        <app-progress-circle></app-progress-circle>
                        <app-progress-circle></app-progress-circle>
                        <app-progress-circle></app-progress-circle>
                        <app-progress-circle></app-progress-circle>
                        <app-progress-circle></app-progress-circle>
                        <app-progress-circle></app-progress-circle>
                    </section>
                    <button>View All Activities</button>
                </section>

                <!-- Daily Challenge Section -->
                <section class="dashboard-view">
                    <app-daily-challenge></app-daily-challenge>
                </section>
            </div>
        </main>
    </section>
</div>
