<table>
    <thead>
        <td>
            Grade
        </td>

        <td>
            Name
        </td>

        <td id="legend">
            <span>Passed</span><span>Retake</span><span>Perfect</span>
        </td>
    </thead>

    <tbody>
        <tr *ngFor="let row of rows">

            <td 
            
            *ngFor="let column of headers"
            
            [ngClass]="getCellClass(column)"

            >

            {{ row[column] }}

            </td>

        </tr>
        

    </tbody>
</table>