<section class="login-section">

    
    
    <form class="login-form" action="">
    <p>
        Don't have an account? 
        <a href="/register">Sign up!</a>
    </p>

    <!--
        
        As of Feb 28, no login functionality or existing backend;
        creating this ahead of time
    -->

    <label for="email">Email</label>
    <input type="email">

    <label>Password</label>
    <input type="password">

    <!--TODO: create forgot password page; otherwise discuss with group-->
    <a href="">Forgot password?</a>

    <button>Login</button>
    


    </form>

</section>