<section class="login-section">

    
    
    <form class="login-form" (ngSubmit)="login()" #loginForm="ngForm">
        <p>
            Don't have an account? 
            <a href="/register">Sign up!</a>
        </p>

        <label for="email">Username</label>
        <input type="email" name="username" [(ngModel)]="username" required>

        <label>Password</label>
        <input type="password" name="password" [(ngModel)]="password" required>


        <input type="submit" value="Login" [disabled]="!loginForm.form.valid">

    </form>

</section>