<div class="main-container">
  <div class="header">
    <h2>Instructors</h2>
    <p *ngIf="instructors.length > 0">Instructors found: {{ instructors.length }}</p>
    <p *ngIf="instructors.length === 0">No instructors found</p>
  </div>

  <table *ngIf="instructors.length > 0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let instructor of instructors">
        <td>{{instructor.name_given}} {{instructor.name_last}}</td>
        <td>{{instructor.email}}</td>
        <td>{{instructor.username}}</td>
        <td>
          <button (click)="deleteInstructor(instructor.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
