<!--
    This is the announcements feed component
-->
<section class="announcements-feed">


    <!--TODO: implement an NgFor or something that can get the most recent announcements-->
    <div class="announcement">
        <a>
            <h3>Announcement 1 Title</h3>
        </a>
        <p>Announcement Content</p>
    </div>

    <div class="announcement">
        <a>
            <h3>Announcement 2 Title</h3>
        </a>
        <p>Announcement Content</p>
    </div>

    <button class="load-more-button">Load More</button>
</section>