<div>
    <div *ngIf="loading" class="content-container">
        Loading quiz...
    </div>

    <div *ngIf="error" class="content-container">
        {{ error }}
    </div>

    <div *ngIf="!loading && !error" class="content-container">
        <div class="card-header">
            <h1>Quiz Information</h1>
        </div>

        <div *ngIf="currentQuiz" class="quiz-content">
            <table>
                <tr>
                    <th>Title</th>
                    <td>{{ currentQuiz.quiz_title }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ currentQuiz.description }}</td>
                </tr>
                <tr>
                    <th>Time Limit</th>
                    <td>{{ currentQuiz.time_limit }} minutes</td>
                </tr>
            </table>
        </div>
    </div>
</div>
