nav {
    @apply 
    bg-marian-blue 
    h-full 
    fixed 
    top-0 
    transition-[width] 
    ease-in-out 
    duration-500 
    overflow-x-hidden;
}

.show-sidebar {
    @apply w-1/4;
}

@media (max-width: 768px) {
    .show-sidebar {
        @apply w-full;
    }
}

.hide-sidebar {
    @apply w-20;
}

ul {
    @apply 
    list-none 
    sticky 
    top-0 
    flex 
    flex-col;
}

li {
    transition: all 0.3s ease-in-out;
    @apply 
    flex 
    justify-start 
    items-center 
    p-5 
    gap-4;
}

li:hover {
    @apply 
    bg-blue-600 
    fill-marian-blue;
}

li a {
    @apply 
    flex 
    items-center 
    gap-2 
    no-underline;
}

.logo-icon {
    transition: all 0.3s ease-in-out;

    @apply 
    w-auto 
    h-10;
}

.nav-icon {
    @apply 
    w-8 
    h-8;
}

span {
    @apply 
    text-white 
    font-medium
    px-5;
}

.hide-sidebar span {
    @apply hidden;
}
