<nav [ngClass]="{'show-sidebar': isSidebarOpen,  'hide-sidebar':!isSidebarOpen}">
    <ul>

        <li>
            <a routerLink="/"><img src="./assets/icons/logo-wh.svg" title="Expand" class="logo-icon"></a>
        </li>

        <li>
            <a routerLink="#" (click)="toggleSidebar()"><img src="./assets/icons/hamburger.svg" title="Expand" class="nav-icon"></a>
        </li>

        <li>
            <a routerLink="/dashboard"><img src="./assets/icons/class-dashboard.svg" title="Class Dashboard" class="nav-icon"><span>TEST</span></a>
        </li>

        <li>
            <a routerLink="/dashboard/activities"><img src="./assets/icons/activities.svg" title="Student Activities" class="nav-icon"></a>
        </li>

        <li>
            <a routerLink="/dashboard/gradebook"><img src="./assets/icons/gradebook.svg" title="Gradebook" class="nav-icon"></a>
        </li>

        <li>
            <a routerLink="/dashboard/rankings"><img src="./assets/icons/rankings.svg" title="Class Rankings" class="nav-icon"></a>
        </li>

        <li>
            <a routerLink="/dashboard/community-hall"><img src="./assets/icons/community-hall.svg" title="Community Hall" class="nav-icon"></a>
        </li>

    </ul>
</nav>