<main>
    <div class="header-section">
        <h2>My Account</h2>
        <div class="button-group">
            <button (click)="openEditModal()" class="edit-button" *ngIf="userData">Edit Profile</button>
            <button (click)="handleDeleteUser()" class="delete-button" *ngIf="userData">Delete Account</button>
        </div>
    </div>

    <section class="section-1">
        <app-profile-view 
            [userId]="userId"
            [updatedUserData]="userData">
        </app-profile-view>
        <app-admin-info-view></app-admin-info-view>
    </section>

    <section class="section-2">
    </section>

    <app-edit-profile-modal
        [isOpen]="isModalOpen"
        [userData]="userData"
        (closeModal)="closeModal()"
        (saveChanges)="handleSaveChanges($event)">
    </app-edit-profile-modal>
</main>