<main>
    <main class="landing_section">
        <section class="login-section">
            <h2>Welcome!</h2>
            <p>
                talk
            </p>
            <app-login-form></app-login-form>
        </section>
        <section class="test grow">
            <img src="" alt="" class="w-96 h-96"/>
            asdasdasd
        </section>
    </main>
    
    <section class="test">
        <h2>Announcements</h2>
        <app-announcements-feed></app-announcements-feed>
    </section>
</main>