<footer>
    <!--
        The Following List(s) hold links to the other relevant pages of the site
        , ones that the user may not have initially considered
    -->

    <section class="section_copyright_statement">

        <img src="./assets/icons/logo-wh-stacked.svg" alt="">

        <h5>SIMULAT. ALL RIGHTS RESERVED</h5>
    </section>

    <section>
        <a routerLink="/legal/terms_of_service">
            Terms of Service
        </a>

        <a routerLink="/legal/privacy_policy">
            Privacy Policy
        </a>
    </section>
</footer>