<nav>
    <ul>

        <li>
            <a><img src="./assets/icons/profile-placeholder.svg"></a>
        </li>

        <li>
            <a><img src="./assets/icons/class-dashboard.svg"></a>
        </li>

        <li>
            <a><img src="./assets/icons/activties.svg"></a>
        </li>

        <li>
            <a><img src="./assets/icons/gradebook.svg"></a>
        </li>

        <li>
            <a><img src="./assets/icons/rankings.svg"></a>
        </li>

        <li>
            <a><img src="./assets/icons/community hall.svg"></a>
        </li>

    </ul>
</nav>