<nav>
    <ul>

        <li>
            <a routerLink="/support"><img src="./assets/icons/profile-placeholder.svg"></a>
        </li>

        <li>
            <a routerLink="/dashboard"><img src="./assets/icons/class-dashboard.svg"></a>
        </li>

        <li>
            <a routerLink="/dashboard/activities"><img src="./assets/icons/activties.svg"></a>
        </li>

        <li>
            <a routerLink="/dashboard/gradebook"><img src="./assets/icons/gradebook.svg"></a>
        </li>

        <li>
            <a routerLink="/dashboard/rankings"><img src="./assets/icons/rankings.svg"></a>
        </li>

        <li>
            <a routerLink="/dashboard/community-hall"><img src="./assets/icons/community hall.svg"></a>
        </li>

    </ul>
</nav>