<main class="homepage_container">
    <main class="landing_section">
        <section class="test">
            <h2>Welcome!</h2>
            <p>
                asdasdajshd asdjkashjkdhasjkd kh fal fjksfhsdk fhdfoiq iowfsdknf
            </p>
            <app-login-form></app-login-form>
        </section>
        <section class="test">
            <img src="" alt="" class="w-96 h-96"/>
            asdasdasd
        </section>
    </main>
    
    <section>
        <app-announcements-feed></app-announcements-feed>
    </section>
</main>