<form action="">


    <!--
        
        As of Feb 28, no login functionality or existing backend;
        creating this ahead of time
    -->
    <p>Don't have an account? <a href="/register">sign up!</a></p>

    <label for="email">Email</label>
    <input type="email">

    <label>Password</label>
    <input type="password">

    <!--TODO: create forgot password page; otherwise discuss with group-->
    <a href="" class="text-red-700">forgot password?</a>

    <input type="submit">


</form>